.card {
  &__container {
    width: max-content;
    max-width: 649px;
    height: max-content;
    border-radius: 15px;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    margin: 1rem;
  }
}