.contact-us-item {
  &__title {
    color: var(--text-regular-text);
    font-size: 14px;
    text-align: right;
    direction: rtl;
    font-weight: 500;
  }

  &__value {
    color: var(--text-regular-text);
    font-size: 13px;
  }

  &__icon {
    color: var(--primary-color);
  }
}